@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap');

body {
    font-family: 'Fredoka';
    
}
div.pageFormat1{
    width: 75%;
    margin: auto;


}
/* navBar Styles */
div.containerNavBar{
    display: flex;
    border: solid black;
    align-items: center;
    /* justify-content: space-around; */
    height: 75px;
    width: auto;
}
h1.titleNav {
    color: #3959d7;
    font-weight: 700;
    margin-left: 5%;
    font-size: 25px;

}

.navOptions {
    color: #697790;
    display: flex;
    text-size-adjust: 15px;
    font-size: small;
    justify-content: space-around;
    flex-grow: 2;
    margin-left: 10%;
    font-size: 15px;

}

.button{
    background: #3959d7;
    width: 150px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0px 3px 8px #888888;
    font-size: large;
    margin-right: 5%;
}
.containerOne{
    display: flex;
}

/* Conteiner with info */
.containerMain{
    display: flex;
    width: 50%;
    flex-direction: column;
    border: solid black;
    padding: 5px;
}
.titleMain{
    font-size:xxx-large;
    margin-bottom: 5px;
    margin-top: 10px;
    color: #1f3e72;
}
.containerMain .one{
    font-size: large;
    color: #6a7890;
    text-align: justify;
}
div.mainLinks{
    display: flex;
    justify-content:space-around;
}
div.mainImg{
    width: 50%;
    position: right;
    border: solid black;
    background: blue;
}

div.schedule{
    position: absolute;
    top: 415px;
    left: 250px;
    height: 75px;
    align-items: center;
    display: flex;
    border: solid black;
}
div.brandsImg img{
    display: flex;
    width: 100%;
    border: solid black;
    margin-top: 50px;
}
div.containerImg{
    border: solid black;
    width: 50%;
    display: flex;
}
div.containerImg img{
    width: 100%;
    
}
/* Rest... */
div.containerTwo{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5px;
    grid-template-areas: "header header" "cards cards";
    border: solid black;
    width: 75%;
    margin: auto;

}
.c1{
    border: solid black;
    background: pink;
    grid-area: header;
}
.title{
    color: #1f3e72;
    font-size: xx-large;
    margin-bottom: 25px;
}
.c2{
    border: solid black;
    background: pink;
    grid-area: cards;
    display: flex;
    justify-content: space-between;
}
.box{
    width: 200px;
    height: 300px;
    border: solid black;
}
.c3{
    border: solid black;
    background: pink;
}
.c4{
    border: solid black;
    background: pink;
}
.c5{
    border: solid black;
    background: pink;
    grid-column-start: 1;
    grid-column-end: 3;
}
.c6{
    border: solid black;
    background: pink;
}
.c7{
    border: solid black;
    background: pink;
}
.c8{
    border: solid black;
    background: pink;
}
.c9{
    border: solid black;
    background: pink;
}