@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap');

body {
    font-family: 'Fredoka';
    background-image: url(./Assets/fondo.jpg);
    background-size: cover;
    background-repeat:repeat-y;
    
}


.caja{
    position: absolute;
    /* display: flex;
    flex-flow: column wrap; */
    top: 85px;
    left: 1000px;
    justify-content: right;
    align-items: right;
    width: 520px;
    height: 450px;
    object-fit: contain;
    object-position: center center;
}
.imagenTop{
    display: flex;
    
}

img.top{
    position: relative;
    
    width: 520px;
    height: 450px;
    object-fit: cover;
    display: flex;
}

div.pageFormat1{
    width: 100%;
    margin: auto;


}
/* navBar Styles */
div.containerNavBar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 75px;
    width: auto;
    background-color: #9cbefad5;
}
h1.titleNav {
    color: #3959d7;
    font-weight: 700;
    margin-left: 5%;
    font-size: 25px;

}

.navOptions {
    color: #697790;
    display: flex;
    text-size-adjust: 15px;
    font-size: small;
    justify-content: space-around;
    flex-grow: 2;
    margin-left: 10%;
    font-size: 15px;

}

.button{
    background: #3959d7;
    width: 150px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0px 3px 8px #888888;
    font-size: large;
    margin-right: 5%;
}
/* Conteiner with info */
.containerMain{
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: 5px;
    
}
.titleMain{
    font-size:xxx-large;
    margin-bottom: 5px;
    margin-top: 10px;
    color: #1f3e72;
}
.containerMain .one{
    font-size: large;
    color: #6a7890;
    text-align: justify;
}
div.mainLinks{
    display: flex;
    justify-content:space-around;
}
div.mainImg{
    width: 50%;
    position: right;
    background: blue;
}

div.schedule{
    position: absolute;
    top: 440px;
    height: 50px;
    width: 1100px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    filter: blur(0px);
    z-index: 1;

}
div.scheduleBackground{
    position: absolute;
    top: 420px;
    height: 100px;
    width: 1050px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: white;
    opacity: 50%;
    filter: blur(4px);
    

}

div.slider{
    position: absolute;
    top: 550px;
    height: 100px;
    width: auto;
    align-items: center;
    justify-content: space-around;
    display: flex;
    
    
}

div.slider img{
    max-height: 100%;
    max-width: 100%;
    display: flex;
    opacity: 100%;
    
}


div.containerText{
    position: absolute;
    top: 700px;
    height: 125px;
    width: 50%;
    flex-direction: column;
    padding: 5px;
     
}

.benefits-container{
    display: flex;
    justify-content:space-around;
    top: 750px;
    
}

.benefits{
    display: flex;
    position: absolute;
    top: 850px;
    padding: 5px;
    justify-content: space-around;
    
    
}
h2.titleSmall{
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 10px;
    color: #1f3e72;
}

.textPrev{
    display: flex;
}

.benefit-1{
    margin: 10px;
    justify-content: space-around;
    
}

.benefit-2{
    margin: 10px;
    justify-content: space-around;
}

.benefit-3{
    margin: 10px;
    justify-content: space-around;
}

.benefit-4{
    margin: 10px;
    justify-content: space-around;
}

.caja2{
    position: absolute;
    top: 1000px;
    left: 85px;
    justify-content: right;
    align-items: right;
    width: 520px;
    height: 750px;
    object-fit: contain;
    object-position: center center;
}

img.center{
    position: absolute;
    width: 520px;
    height: 750px;
    object-fit: cover;
    display: flex;
    
}

div.containerPrep{
    display: flex;
    width: 50%;
    float: right;
}

div.containerText2{
    position: absolute;
    top: 1100px;
    height: 630px;
    width: 50%;
    flex-direction: column;
    padding: 5px;
    display: flex;
    float: right;
    
}

.prepLi{
    border: solid #c4d4f015;
    list-style: none;
    margin: 10px;
    width: 250px;
    display: flex;    
}

.prepLiPar{
    border: solid #c4d4f015;
    list-style: none;
    margin: 10px;
    width: 250px;
    flex-direction: column;
}

.prepPar{
    opacity: 35%;
}

.caja3{
    position: absolute;
    top: 1750px;
    left: 1000px;
    justify-content: right;
    align-items: right;
    width: 520px;
    height: 650px;
    object-fit: contain;
    object-position: center center;
}

img.bottom{
    position: absolute;
    width: 520px;
    height: 650px;
    object-fit: cover;
    display: flex;
}

.containerText3{
    position: absolute;
    top: 1750px;
    height: 620px;
    width: 50%;
    flex-direction: column;
    padding: 5px;  
}

h3.blue{
    color: #3959d7;
}

.grid{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
}

.grid div{
    width: 160px;
    height: 160px;
    text-align: center;
    align-content: center;
    flex-direction: column;
    margin: 25px;

}

.buttonEmer{
    background: #3959d7;
    width: 150px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0px 3px 8px #888888;
    font-size: large;
    margin-right: 5%;
    text-align: center;
}

.vaccination div{
    flex: auto;
}

.footerText{
    color: #88888883;
}

.footer1{
    position: absolute;
    top: 2400px;
    width: 50%;
    height: 280px;
    background-color: #9cbefad5;
    align-content: center;

}

.footer2{
    position: absolute;
    top: 2680px;
    width: 50%;
    height: 50px;
    margin-top: 0%;
    background-color: #9cbefad5;
}

.footer3{
    position: absolute;
    top: 2400px;
    left: 785px;
    width: 50%;
    height: 280px;
    margin-top: 0%;
    display: grid;
    grid-template-columns: auto auto auto;
    float: right;
    justify-content: space-around;
    background-color: #9cbefad5;
}

.gridFooter1{
    display: grid;
    
}

.gridFooter2{
    display: grid;
}

.gridFooter3{
    display: grid;
}

.footer4{
    position: absolute;
    top: 2680px;
    width: 50%;
    height: 50px;
    margin-top: 0%;
    left: 785px;
    right: 10px;
    background-color: #9cbefad5;
    text-align: right;
}